:root {
    --color-232f3a: #232f3a;
    --color-435c5f7e: #3245477e;
    --color-febd69: #febd69;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .profile-cord {
        width: 100%;
        background-color: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            button {
                padding: 0;
            }
            h3 {
                font-size: 1.3rem;
                font-weight: 600;
                text-align: center;
                color: #777;
                margin: 0;
            }
        }
        .error {
            color: red;
        }

        .profile-action {
            display: flex;
            justify-content: start;
            align-items: start;
            margin-top: 15px;
            
            button {
                padding: .7rem 2rem;
                background-color: var(--color-232f3a);
                color: white;
                max-width: 150px;
                font-size: 15px;
                font-weight: 500;
                border: none;
                cursor: pointer;
                border-radius: 20px;
                &:hover {
                    background-color: var(--color-febd69);
                    color: #232f3a;
                } 
            }

            
        }

        .form-group{
            
            input {
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                background-color: rgb(238, 236, 236);
                border: 1px solid rgb(238, 236, 236);
                border-radius: 10px;
                
                &:focus {
                    outline: 1px solid rgb(153, 153, 153);
                }
            }
            
            .error {
                 color: red;
            }
            
        }
        a{
            color: var(--color-232f3a);
            text-decoration: none;
            font-size: 0.8rem;
            margin-bottom: 5px;
        }
    }
}