.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;

    .login-container {
        width: 400px;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h1 {
            text-align: center;
            font-size: 24px;
            font-weight: 600;
        }

        h5 {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 20px;
            color: gray;
        }

        .forgot-link {
            text-align: right;
            a {
                color: #333;
                text-decoration: none;
            }
            margin: 20px 0;
        }

        .btn-login {
            width: 100%;
            padding: 10px 20px;
            color: #fff;
            background-color: #ffd333;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }
        
    }

}